 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/5dc59d5f5b733f41fe8e5acc1b18d06cdb3ff6350bf2f3bb2fcdcf244febd2f2824d6abacfd5bb2d2e0d113caa60e62d6bb2666b8761aca262d90e_1280.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(77,98,99,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  margin: 112px 509px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 300;
  font-family: Poppins;
  text-transform: none;
  margin: 35px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 89px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 535px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 22px;
  margin-bottom: 1px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 14px));
  min-height: 415px;
  grid-gap: 28px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 17px auto 0 0;
  padding: 12px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  margin: -53px -23px 0 96px;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 17px auto 0 0;
  padding: 12px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  margin: -53px -23px 0 96px;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 17px auto 0 0;
  padding: 12px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  margin: -53px -23px 0 96px;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 17px auto 0 0;
  padding: 12px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  margin: -53px -23px 0 96px;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-5 {
  height: 78px;
  width: 78px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 17px auto 0 0;
  padding: 12px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  margin: -53px -23px 0 96px;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-icon-6 {
  height: 78px;
  width: 78px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 17px auto 0 0;
  padding: 12px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  margin: -53px -23px 0 96px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -2px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 342px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 12px;
    margin-left: 95px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 12px;
    margin-left: 95px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 12px;
    margin-left: 95px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 12px;
    margin-left: 95px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 12px;
    margin-left: 95px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 12px;
    margin-left: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
    margin-right: 143px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
    margin-right: 143px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 24px;
    margin-right: 143px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 24px;
    margin-right: 143px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 24px;
    margin-right: 143px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 24px;
    margin-right: 143px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 625px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1157px;
  margin: 33px -17px 33px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 597px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.4375rem;
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-1 {
  height: 291px;
  margin: 60px 0 -30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 570px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 0 2px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 28px auto 0;
  padding: 11px 31px 11px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    height: 168px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 537px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 20px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 416px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 12px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: -44px 18px 0 64px;
}

.u-section-4 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-4 .u-list-item-2 {
  color: rgb(138, 193, 197) !important;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 12px;
}

.u-section-4 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: -44px 18px 0 64px;
}

.u-section-4 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 12px;
}

.u-section-4 .u-text-6 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: -44px 18px 0 64px;
}

.u-section-4 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-4 .u-list-item-4 {
  color: rgb(138, 193, 197) !important;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 12px;
}

.u-section-4 .u-text-8 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: -44px 18px 0 64px;
}

.u-section-4 .u-text-9 {
  margin: 20px 1px 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 12px;
}

.u-section-4 .u-text-10 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: -44px 18px 0 64px;
}

.u-section-4 .u-text-11 {
  margin: 20px 1px 0;
}

.u-section-4 .u-list-item-6 {
  color: rgb(138, 193, 197) !important;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 12px;
}

.u-section-4 .u-text-12 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: -44px 18px 0 64px;
}

.u-section-4 .u-text-13 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 345px;
  }

  .u-section-4 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-list-item-6 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 815px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 465px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 50px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 691px;
  margin: 16px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 222px;
  grid-gap: 32px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-5 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 59px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 147px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 20px 0;
}

.u-section-5 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 59px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 147px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-5 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 59px auto 0;
}

.u-section-5 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 147px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 20px 0;
}

.u-section-5 .u-text-9 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 59px auto 0;
}

.u-section-5 .u-text-10 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 147px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 397px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.375rem;
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 329px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 0.875rem;
  }
}